body {
    margin-left: 2%;
    background-image: url("https://www.pngmagic.com/product_images/website-background-image-size-psd-vector-photo.jpg");
    margin-top: 2%;
    font-family: sans-serif;
    justify-content: center;
  }

.titulo{
    text-align: center;
    color: black;
}

.minhafoto{
    height: 250px;
    width: 250px;
    margin-left: 35px;
    margin-right:15px;
    float: left;
}

.fotosubtitulo{
    height: 20px;
    width:  30px;
    padding-left: 5px;
}

.subtitulo{
    margin-left: 35px;
}

.texto{
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;

}


  
  .fotoIPCA{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  
  .titulocaixa{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .imagensprojetos{
    margin-left: 35px;
    height:75%;
    width: 75%;
  }

  .formulario{
    margin-left:  20%;
    margin-right: 20%;
    background-color: white;
  }

  .ling{
    flex-direction: column;
  }

  .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 5vh;
  }
  

  
  hr{
    background: #5f5f5f;
    height: 0.5em;
    top: 1px;
  }
  
  
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  
  .fa-facebook {
    background: #2e4f96;
    color: white;
    margin-right: 15px;
  }
  
  .fa-github {
    background: #979797;
    color: rgb(136, 136, 136);
    margin-right: 15px;
  }

  .fa-instagram {
    background: #c42969;
    color: white;
    margin-right: 15px;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .redessocias{
    justify-content: center;
    display: flex;
    width: 100%;
  }